body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.flex {
    display: flex;
}


:root {
    --box-bg: rgb(153, 207, 238); /*цвет фона карточки*/
    --text-color: black; /*цвет текста*/
    --text-accent: rgb(251, 251, 251); /*цвет текста*/
    --accent-color: rgb(28, 13, 242); /*цвет кнопки*/
}

.card {
    color: var(--text-color);
    background: var(--box-bg);
    padding: 10px;
    margin: 0 auto;
}

button {
    background-color: var(--accent-color);
    color: var(--text-accent);
}

.card:nth-child(2) {
    --box-bg: red;
    --text-color: white;
}

/* переопределение  */
.carddd {
    --box-bg: lightblue;
    --text-color: darkblue;
}


