body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}
.container {
    max-width: 1024px;
    border: 1px solid red;



:root {
    --box-bg: lightgray;
    --text-color: black;
}

.box {
    background: var(--box-bg);
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem;
}

/* переопределение  */
.card {
    --box-bg: lightblue;
    --text-color: darkblue;
}


}
.block {
    color: #ff0101;
    font-size: 20px;
}

 section {
        display: flex;
    }

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
    .card-name {
        font-size: 18px;
        color:#ff0101
    }
    .card-desckiption {
        font-size: 14px;
    }
    .card button {
        padding: 5px 10px;
        background-color: blue;
    }
    section {
        flex-direction: column;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .card {
        background-color: aquamarine;
    }
}

@media (max-width: 600px) and (orientation: landscape) {
    .card {
        background-color: blueviolet;
    }
}

@media (max-width: 400px) {
    .card-desckiption {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 1024) {
   .card {
    width: 80%;
   }
   .card-name {
    font-size: 20px;
    color: green;
   }
   .card-desckiption {
    font-size: 15px;
   }
}




/* section p {
    padding: 15px;
    margin: 15px;
    border: 1px solid #ff0101;
} */

.card {
    width: 300px;
    margin: 10px;
    border: 1px solid #ff0101;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card div {
    margin: 10px;

}
.card img {
    width: 100%;
   
}
.card-name {
    font-weight: 600;
    font-size: 24px;
  

}
.card-desckiption {
    font-size: 16px;
    color:#090909;
  

}

button {
    color: white;
    background-color: #ff0101;
   
    padding: 14px 30px;
    border-radius: 10px;
    text-align: center;
margin-left: auto;
display: block;
    cursor: pointer;
    border: none; 
}
button:hover {
    color: black;
}